body {
    height: 100vh;
    background-color: #FFFDFE;
}

#content {
    justify-self: center;
    max-width: 1517px;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    align-items: center;
    justify-content: center;
}

.food-image {
    display: block;
    
    width: 800px;
    justify-self: center;
    filter: drop-shadow(20px 20px 25px rgba(0, 0, 0, 0.7));
}

h1 {
    font-size: 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

p {
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

