body {
    height: 100vh;
    background-color: #ffe49214;
}

#content {
    justify-self: center;
    max-width: 1517px;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 0.7fr));
    align-items: center;
    justify-content: center;
}

.food-image {
    margin-bottom: 0px;
    margin-right: 0px;
    object-fit: cover;
    height: 100%;
    width: 90%;
    justify-self: center;
    filter: drop-shadow(30px 30px 30px rgba(0, 0, 0, 0.7));
}

h1 {
    line-height: 110px;
    letter-spacing: 2px;
    margin-top: 0px;
    font-size: 80px;
    font-family: Marker Felt, fantasy;
    margin-bottom: 20px;
    margin-left: 50px;
}

p {
    margin-left: 50px;
    letter-spacing: 1px;
    width: 80%;
    font-size: 22px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: rgb(149, 149, 149);
    margin-bottom: 50px;
}
header {
    height: 90px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
}
nav {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    width: 100%;
    justify-self: center;
    align-self: center;
    grid-column: 2 /3;
}

.headline-container {
    justify-self: center;
    width: 650px;
    height: 80%;
}

.image-container {
    height: 80%;
    align-self: flex-start;
}

button {
    letter-spacing: 2px;
    margin-left: 5px;
    margin-right: 5px;
    align-self: center;
    height: 50px;
    width: 150px;
    font-size: 17px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(147, 146, 146);
    font-family: Arial, sans-serif;
}

nav > button:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-weight:300;
}



.see-menu-Btn {
    letter-spacing: 1px;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 17px;    
    border-radius: 10px;
    border: 1px #f37f0b solid;
    margin-left: 25px;
    color: #f37f0b;
    height: 45px;
}

.order-btn {
    letter-spacing: 1px;
    margin: 0;
    margin-left: 50px;
    background-color: #f37f0b;
    color: white;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 17px;   
    height: 45px;
}

.see-menu-Btn:hover {
    cursor: pointer; 
    font-size: 18px; 
}

.order-btn:hover {
    cursor: pointer;
    font-size: 18px; 
}

.item-container {
    background-color: #cf6f0027;
    font-weight: 200;
    width: 300px;
    height: 170px;
    justify-self: center;
    display: grid;
    grid-template-columns: 200px 100px;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    font-family: Arial, sans-serif;
    align-items: center;
    border-radius: 20px;
    transition: box-shadow 0.5s ease;
    box-shadow: 0px 0px 5px rgba(204, 204, 204, 0.476);
}

.item-container:hover {
    box-shadow: 0px 0px 10px rgba(110, 107, 107, 0.617);
}

.food-name {
    grid-row: 1 / 2;
    align-self: flex-end;
    margin-left: 10px;
}

.rate {
    grid-column: 2 / 3;
    align-self: center;
    color: rgba(0, 0, 0, 0.688);
    font-weight: 100;
    font-size: 15px;
}

.price {
    grid-column: 1 / 2;
    align-self: center;
    margin-left: 10px;
    color: #f37f0b;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.price-rate-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.item-image {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    height: 150px;
    width: 150px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7));
}

.add-to-cart-btn {
    letter-spacing: 1px;
    margin: 0;
    margin-left: 10px;
    background-color: #f37f0b;
    color: white;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 17px;   
    height: 40px;
    width: 130px;
    font-weight: 700;
}

.add-to-cart-btn:hover {
    cursor: pointer;
    color: #f37f0b;
    background-color: #cf6e0000;
    border: solid 2px #f37f0b;
}